.chat-space
 .chat-side
  .side-header
   .box
    .box__username
     =current_user.name
    .box__icon
     =link_to "http://localhost:3000/" do
      =fa_icon 'edit',class: 'icon'
     = link_to edit_user_path(current_user) do
      = fa_icon 'cog', class: 'icon'
  .groups
   .group
    .group__name
     Test-group
    .group__message
     よろしくお願いします。
 .chat-main
  .main-header
   .current-group
    .current-group__name
     Test-group
    .current-group__menber
     Menber huga neko  
   .main-header__edit
    Edit
  .messages
   .message
    .chat
     .chat__user
      huga
     .chat__datetime
      2019/9/10(TUE) 17:00:00
    .message__text
     こんばんわ！
   .message
    .chat
     .chat__user
      neko
     .chat__datetime
      2019/9/10(TUE) 18:00:00
    .message__text
     こんにちわ！
  .form
   %form{class: "new-message"}
    .input-box
     %input{placeholder: "type a message", class: "input-box__text", type: "text"}
     %label{class: "input-box__image",for: "message_image"}
      %i{class:"fa fa-image"}
      %input{type: "file", name: "image", id: "message_image"}
    %input{type: "submit", name: "send", value: "Send", class: "submit-btn"} 
    